# Welcome to Python: Behind the Screen!

You’ve just seen how websites track your every move online.  
Now it’s time to pull back the curtain and explore the code powering it all.

Today, we’ll dive into some Python fundamentals — the building blocks behind apps, algorithms, and even tracking tools.

Here’s what we’ll cover:



*   Variables
*   Data types & typecasting
*   Print statements & inputs  
*   Functions

**Feel free to tweak the code, break it, fix it, and experiment — that’s how you really learn.**


---



The datatype of a variable is dependent on the **type** of data we want to store in it. For example:

> * int - integer : used to store integer numbers only (e.g. 7)
> * float - floating point : used to store decimal numbers (e.g. 3.14)
*   bool - boolean : used to store True/False values (only True and False no other values)
*   str - string : used to store a string of letters such as words and sentences(e.g. "Rainbow"). When creating (aka initializing) a string datatype you must contain the string in double quotations "

# Meet Alice

The code below shows variables storing information regarding Alice.

Note that variables can be called anything (i.e. we could change the variable *favcolour* to *favouritecolor*  too- it is just a name)

In [4]:
name = "Alice"
age = 16
favcolour = "Purple"
height= 5.25
athlete= True

In [5]:
print(name)

Alice

We can find out the datatypes of different variables using the type() function. Try finding out the datatypes of all the varaibles associated with Alice.

In [6]:
print(type(name))
print(type(age))
# try running for other variables as well

<class 'str'>
<class 'int'>

#Build a calculator

Create a function named *two_numbers* that takes two inputs and calculate their sum, difference, product, quotient and remainder on dividing. Store these values in different variables.

In [7]:
def two_numbers(a,b):
    sum=a+b
    diff=a-b
    pro=a*b
    quo=a//b
    rem=a%b
    print(f"Sum {sum} Product {pro} Difference {diff} Quotient {quo} Remainder {rem}")

two_numbers(5,10)

Sum 15 Product 50 Difference -5 Quotient 0 Remainder 5

# Sign Check

Create a function named *sign_of_number* that returns "positive", "zero", or "negative" based on an integer. This demonstrates conditional branching with if-elif-else and comparison operators

In [8]:
def sign_of_numbers(a):
    if a==0:
        print('the value is ZERO')
    elif a>0:
        print("It is positive")
    else:
        print("It is less negative")

sign_of_numbers(10)

It is positive

# Area Quest

Create a function named *areas* that takes 3 inputs and calculate the following:

assuming first input is a, second input is b, and third input is choice

1. Area of rectangle: assuming a is length, b is breadth
2. Area of a circle: assuming a is radius
3. Area of a triangle: assuming a is height, b is breadth

store the values in different variables.

if choice = 0, return area of rectangle. choice = 1, return area of circle, and choice= 2, return area of triangle.

In [9]:
def ar_rect(a,b):
    ar=a*b
    print(ar)

def ar_circle(a):
    ar=3.14*a**2
    print(ar)

def ar_tri(a,b):
    ar=0.5*a*b
    print(ar)

ch=int(input("Enter 1 for Ar of rectangel\nEnter 2 for Area of Circle\nEnter 3 fot Area of triangle"))
if ch==1:
    ar_rect(5,10)
elif ch==2:
    ar_circle(5)
else:
    ar_tri(5,10)

50

#Typecasting

We’re now going to convert values from one data type to another — this is called **type casting**.

Examples:

* `1235272` → `"1235272"` : from **integer** to **string**
* `"6.78"` → `6.78` : from **string** to **float**

This helps us control how data is stored, displayed, or used in calculations.

type-cast the following into other datatypes- observe for which datatypes you get errors.

In [10]:
val = 5.689
address = "301"
frequency= 11

print(type(int(val)))
#after converting, you can check its datatype as well. Ex:
print(type (str(val)))

<class 'int'>
<class 'str'>