# Targeted Travel Ads: Advanced String & Array Operations

You're part of a travel tech company that uses Python to process and analyze user data to optimize ad targeting. Use **intermediate string and list operations** to transform and extract valuable insights from the data.

**Constraints:** No loops. Use indexing, slicing, string methods, and other built-in operations.

## Task 1: Standardize Usernames
Given a comma-separated string of usernames, convert them to lowercase and remove any leading or trailing spaces. 

DO NOT USE LOOPS. You can use different built-in string and array functions as a workaround.

In [5]:
raw_users = [" Amuro1979" , "ZETA_KAMILLE" , "JudauAshta" ,  "pilot4unicorn" ,"Mafty "]
print(raw_users[0].lower(),raw_users[1].lower(),raw_users[2].lower(),raw_users[3].lower(),raw_users[4].lower())
# Example: we want to convert a username "MiLeY" to "miley"
# Use the space below to write your code

 amuro1979 zeta_kamille judauashta pilot4unicorn mafty

## Task 2: Extract and Reconstruct Locations
Given a list with mixed format data for each user’s preferred location, extract just the city name and create a clean sentence.

In [6]:
locations = ["City:Tokyo", "City:New York", "City:Paris", "City:Rio", "City:Cape Town"]
print(locations[0][5:10],locations[1][5:15],locations[2][5:10],locations[3][5:10],locations[4][5:10])
# Example: from "City:Mumbai", we want to extract "Mumbai"
# Your code below:

Tokyo New York Paris Rio Cape

## Task 3: Target Keyword Match
Given a user’s profile description, extract and format the keywords related to travel. Assume all travel-related keywords are enclosed in `#`.

In [23]:
profile = "Explorer of #culture#, lover of #beaches#, passionate about #adventures#."

# Example: if profile =" We bought a #backpack#", we would want to extract "backpack"
# Your code below:

print(profile[13:20], profile[33:40], profile[61:70])

culture beaches adventure

## Task 4: Merge Interest Tags
Two users have their travel interest tags. Merge them into a single list without duplicates and sort alphabetically.

In [24]:
user1_tags = ["mountains", "beach", "desert", "city"]
user2_tags = ["beach", "culture", "mountains", "safari"]
st=user1_tags+user2_tags
print(st)
# Example: user1_tags = ["cycling", "hiking"], user2_tags=["swimming", "cycling"], we want to create a combine_tags=["cycling", "hiking", "swimming"]
# Your code below:

['mountains', 'beach', 'desert', 'city', 'beach', 'culture', 'mountains', 'safari']

## Task 5: Masking Usernames
You want to show partially anonymized usernames in reports. Show only the first 3 characters followed by `***`.

In [20]:
usernames = ["amuro1979", "zeta_kamille", "judauashta", "pilot4unicorn", "mafty"]
u1=usernames[0].replace("979","***")
u2=usernames[1].replace("lle","***")
u3=usernames[2].replace("hta","***")
u4=usernames[3].replace("orn","***")
u5=usernames[4].replace("fty","***")
print(u1, u2,u3,u4)
# Example: "Roshni" would get converted to "Ros***"
# Your code below:

amuro1*** zeta_kami*** judauas*** pilot4unic***